@font-face{
    font-family : "Donjon";
    src: url("../../donjon.ttf");
}
*{
    color : #fff;
    background-color : #000;
    margin : 0;
    padding : 0;
    font-family : "Donjon";
    Font-size : 16px;
    line-height : 16px;
    font-weight : normal;
    box-sizing : border-box;
    transition : background-color 0.5s, color 0.5s;
    text-decoration : none;
}
div{
    padding : 0px 8px 0px 8px;
    page-break-inside : avoid;
}
div >*{
    width : calc( 8px * 80 );
    max-width : 100%;
    margin : 0 auto 0 auto;
}
img{
    display : block;
}
div:hover, div:hover *{
    color : #000;
    background-color : #fff;
}
div:hover img{
}
.white, .white *{
}
html{
  scrollbar-color: white black;
  scrollbar-width: 8px;
  overflow-x : hidden;
}
body{
}
h1 div{
display: inline-block;
padding : 0;
margin :0;
}
h1, h1 *{
    font-size : 128px;
    line-height : 128px;
}
h2{
    font-size : 96px;
    line-height : 96px;
}
h3{
    font-size : 64px;
    line-height : 64px;
}
h4{
    font-size : 48px;
    line-height : 48px;
}
h5{
    font-size : 32px;
    line-height : 32px;
}
p{
}
#dl, #dl *{
    color : #88f;
    background-color: #004;
}
#dl:hover, #dl:hover *{
    cursor : pointer;
    background-color : #00f;
    color : #fff;
}
@media print{
    *{
        color : black !important;
        background-color : white !important;
    }
    #dl{
        display : none;
    }
    @page{
        margin : 16px 8px 16px 8px;
    }
}

